.foodItem {
  align-items: center;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;

  img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

  .info {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: start;

    h3 {
      font-size: 1.2rem;
      margin: 0;
      color: #333;
    }

    p {
      font-size: 0.9rem;
      margin: 0.5rem 0;
    }
    .priceContainer {
      .newPrice {
        color: #007bff;
        font-weight: bold;
        margin-right: 8px;
      }
      .oldPrice {
        text-decoration: line-through;
        color: #777;
      }
      .price {
        color: #007bff;
        font-weight: bold;
      }
    }
  }
  .buy {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    button {
      max-width: 200px;
      width: 45%;
      border: none;
      cursor: pointer;
      font-weight: 500;
      font-size: 16px;
      padding: 10px;
    }
    .buyButton {
      background-color: red;
      color: white;
    }
  }
}
